<div class="container">
    <div class="row">
        <div class="col-md-6">
            <% @posts.each do |post| %>
                <span><%= list.title %></span>
            <% end %>
            
        </div>
        <div class="col-md-4 offset-md-2">
            
        </div>
    </div>
</div>