<div class="profile-wrap">
  <div class="row">
    <div class="col-md-4 text-center">
      <%= image_tag current_user.image_url(:icon) %>
    </div>
    <div class="col-md-8">
      <div class="row">
        <h3><%= @user.name %></h3>
        <h4><%= @user.profile %></h4>
        <%= link_to "Edit", current_user_edit_path, class: "btn btn-outline-dark common-btn edit-profile-btn" %>
        <button type="button" class="setting" data-toggle="modal" data-target="#exampleModal">
            <i class="fa-solid fa-gear" style="color: #6d6f74;"></i>
        </button>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>