<div class="window">
  <div class="overlay"></div>
  <div class="box header">
    <%= image_tag current_user.image_url(:icon) %>
    <h2><%= @user.name %></h2>
    <h4><%= @user.profile %></h4>
    <ul>
      <li><a href=""><span class="ion-ios-camera-outline"></span> 401</a></li>
      <li><a href=""><span class="ion-ios-heart-outline"></span> 333K</a></li>
      <li><a href=""><span class="ion-ios-person-outline"></span> 225M</a></li>
    </ul>
  </div>
  <div class="box footer">
    <a href="" class="btn">Follow</a>
    <div class="dropdown">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa-solid fa-toolbox" style="color: #000000;"></i>
      </a>
    
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">
          <%= link_to "Edit", current_user_edit_path %>
        </a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
  </div>
</div>
