<div class="container">
    <div class="row">
        <div class="card" style="margin-top: 125px">
            <h2>Guest</h2>
            <i class="fas fa-arrow-right"></i>
            <p>welcome to.</p>
            <div class="pic"></div>
            <button>
                <a href="<%= users_guest_sign_in_path %>" class="btn1"></a>
            </button>
        </div>
        <div class="card card2" style="margin-top: 125px">
            <h2>Sing Up</h2>
            <i class="fas fa-arrow-right"></i>
            <p>welcome to.</p>
            <div class="pic"></div>
            <button>
                <a href="<%= new_user_registration_path %>" class="btn1"></a>
            </button>
        </div>
    </div>
</div>


